/* Resets */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Container made into a flexbox */
.container {
  display: flex;
  justify-content: center;

  padding-top: 7rem;
}

/* Card container flexbox and some styling */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 20ch;
  max-width: 40ch;

  background-color: #faf9ff;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.3);
}

/* Card's background img (river photo) */
.card .card-img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

/* Card's profile picture (Jane Doe) */
.card .profile-img {
  width: 50%;
  height: 28%;
  object-fit: cover;

  border-radius: 50%;
  border: 0.5rem solid #faf9ff;

  margin-top: -27%;
}

/* h1 for the name Jane Doe */
.card h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #333;
  padding-top: 1rem;
}

/* Dummy text on the card styling */
.card p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #333;

  text-align: center;
  padding: 1.5rem;
}

/* Icon container flexbox along with some styling */
.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  font-size: 2.5rem;
  color: rgb(44, 44, 129);

  border-top: 1px solid #999;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

